<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos</title>
</head>
<h1>
<style> h1{color:red;font-family: Georgia, 'Times New Roman', Times, serif;} </style>Alumnos
</h1>
<body>
    <h2>Formulario</h2>
    <form action="/" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required> <input type="submit" value="submit"><br><br>
        <label for="last_name">Apellido:</label>
        <input type="text" id="Apellido" name="Apellido" required> <input type="submit" value="submit"><br><br>
        <label for="age">Edad:</label>
        <input type="number" id="age" name="age" required> <input type="submit" value="submit">
    </form><br>
    <a href="/" >Inicio</a>
</body>
</html>