<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        h1{
            color:red;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
     </style>
</head>
<body>
    <div class="container">
        <h1>Cursos</h1>
        <a href="/"><button >Inicio</button></a>
        <a href="/cursos/agregar_curso"><button>Agregar curso</button></a>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for curso in cursos %}
                <tr>
                    <td> {{curso.nombre_curso}} </td>
                    <td>
                        <a href="/cursos/editar_curso/{{ curso.id_curso}}" class="btn btn-warning">Editar</a>
                        <form action="/cursos/eliminar_curso/{{ curso.id_curso }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</html>