<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores</title>
</head>
<body>
    <h1 style="text-align: center;">Profesores</h1>
    <h2>Formulario</h2>
    <form action="/" method="post"></form>
    <label for="nom_profesor">Nombre de profesor</label>
    <input type="text" id="id" nom_profesor="nom_profesor" required> <input type="submit" value="submit"><br>
    <a href="/" >Inicio</a>
</body>
</html>